@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato:wght@300&display=swap');

h1 {
    font-family: 'Fredoka One', cursive;
}

body {
    /* text-align: center; */
    /* font-family: Lato;
    display: grid;
    background: rgb(230, 224, 221); */
}

.edit-profile input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    margin-bottom: 12px;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.edit-profile fieldset {
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 20px;

}

.edit-profile legend {
    background: #3f0097;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.edit-profile label {
    margin-top: 12px;
}

.edit-profile input:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

/* .edit-profile form {
  width: 80%;
  margin: auto;
}

.edit-profile label {
  float: left;
  width: 50%;
}

.edit-profile input,
.edit-profile textarea {
  float: left;
  width: 50%;
  margin: 10px;
  padding: 10px;
  background: lemonchiffon;
  font-family: Lato;
  border: none;
}

.edit-profile fieldset {
  margin: 10px;
  font-weight: bold;
  background: #FEFEFE;
}

.edit-profile button {
  background: #42D373;
  font-size: 15px;
  padding: 10px;
  border: none;
  float: right;
  color: white;
}

.edit-profile legend {
  background: rgb(223, 110, 106);
  padding: 2px 20px 4px 20px;
  color: white;
  border-radius: 20px;
} */

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

} 