@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #f3f3f3;
}

.cardd {
    display: flex;
    background: white;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 20px;

}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, .08);
}

.mb-20 {
    margin-bottom: 20px;
}

.btn-book {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    width: 100%;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    background: #3f0097;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.right {
    padding-left: 12px;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    /* gap: 22px; */
    margin: auto;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.m-10 {
    margin: 20px 0px;
}

.data {
    margin-bottom: 20px;
}

.left {
    background: linear-gradient(to right, #01a9ac, #01dbdf);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
}

.wrapper .left img {
    border-radius: 5px;
    margin-bottom: 10px;
}

.wrapper .left h4 {
    margin-bottom: 10px;
}

.wrapper .left p {
    font-size: 12px;
}

.wrapper .right {
    width: 65%;
    background: #fff;
    padding: 30px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects {
    margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data {
    display: flex;
    justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data {
    width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4 {
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p {
    font-size: 13px;
    margin-bottom: 10px;
    color: #919aa3;
}

.wrapper .social_media ul {
    display: flex;
}

.wrapper .social_media ul li {
    width: 45px;
    height: 45px;
    background: linear-gradient(to right, #01a9ac, #01dbdf);
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
}

.wrapper .social_media ul li a {
    color: #fff;
    display: block;
    font-size: 18px;
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

} 